<div class="container">
	<div id="main">
		<h1 style="color: #d19a66; text-align: center; margin: 30px;">مقالات</h2>
		{% for article in articles %}
			<article id="article">
				<div class="card col-sm-12 col-xl-9">
					<div class="row g-0">
						<div class="article-tumbnail col-xl-4 col-lg-4 col-sm-12 ">
							<a href="{% url 'blog:details' article.slug %}"><img src="{{ article.thumbnail.url }}" class="img-fluid rounded-start" alt="..."></a>
						</div>
						<div id="card-body" class="col-sm-12 col-lg-8 col-xl-8">
							<div class="card-body">
								<a href="{% url 'blog:details' article.slug %}"><h2 class="card-title">{{ article.title }}</h2></a>
								<p>{{ article.created }}</p>
								<p>
									تاپیک :
									{% for topic in topics %}
										{{ topic.title }} , 
									{% endfor %}
								</p>
							</div>
						</div>
					</div>
				</div>
			</article>
		{% endfor %}
	</div>
  <footer id='footer'>
    {% if articles.has_next %}
      <a class="pages" href="{% url 'blog:blog' %}?page={{articles.next_page_number}}">&rarr; صفحه ی بعدی </a>
    {% endif %}
    {% if articles.has_previous %}
      <a class="pages" href="{% url 'blog:blog' %}?page={{articles.previous_page_number}}">صفحه قبلی &larr;</a>
    {% endif %}
  </footer>
</div>
