<div class="container">
	<div id="main">
		<h1 style="color: #d19a66; text-align: center; margin: 30px;">نمونه کار ها </h2>
		{% for content in contents %}
			<article id="article">
				<div class="card col-lg-9">
				  <div class="row g-0">
					<div class="col-xl-4">
						<img src="{{ content.thumbnail.url }}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
					  <div class="card-body">
						  <h5 class="card-title">{{ content.title }}</h5>
						  <p class="card-text">{{ content.body | truncatechars:350 }}</p>
					  </div>
					</div>
				  </div>
				</div>
			</article>
		{% endfor %}
	</div>
</div>
