<div class="container">
	<div id="main">
		{% for content in contents %}
			<article id="article">
				<div class="card col-lg-9">
				  <div class="row g-0">
					<div class="col-md-4">
						<img src="{{ content.thumbnail.url }}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
					  <div class="card-body">
						  <h5 class="card-title">{{ content.title }}</h5>
						  <p class="card-text">{{ content.body | truncatechars:250 }}</p>
					  </div>
					</div>
				  </div>
				</div>
			</article>
		{% endfor %}
	</div>
</div>
