:root {
	--TextColor: #abb2bf;
	--HeaderColor: #d19a66;
	--White: #ffffff;
	--Black: #000000;
	--FontFamily: Vazir, serif;
	--FontSize: 16px;
	--LinkHover: #579BD3;
	--SelectionText: #d19a66;
	--Topics: #61afef;
}
/* elements */
::-moz-selection { /* Code for Firefox */
	background: var(--SelectionText);
	color: #ffff;
}
::selection {
	background: var(--SelectionText);
	color: #ffff;
}
/* ides */
#article {
	margin: 20px;
}
#article .card {
	background-color: #1e2127;
	box-shadow: 0 7px 14px rgba(0,0,0,.25),0 5px 5px rgba(0,0,0,.22);
	color: var(--TextColor);
	margin-right: auto;
	margin-left: auto;
}
#article .card img {
	display: flex;
	margin: auto;
	padding: 20px;
}
#thumbnail img{
	display: flex;
	margin: auto;
	width: 50%;
}
#content {
	text-align: justify;
	margin: 0;
	padding: 0;
}
#ArticleTitle {
	color: var(--HeaderColor);
}
#ArticleContent {
	color: var(--TextColor);
}
#information {
	border-top: 2px solid var(--TextColor);
	margin-top: 10%;
	margin-bottom: 100px;
	padding-top: 10px;
}
#information *{

	color: var(--HeaderColor);
}
#article .card .col-xl-3 {
	margin: 0;
}
#tags {
	align-items: center;
	display: grid;
	grid-template-columns: repeat(3,1fr);
}
#tags a :hover{
	box-shadow: 0 -1px 4px #61afef;
	border: 1px solid #61afef;
}
#card-body {
	margin: auto;
}
/* clases */
.navbar {
	font-size: 1.4rem;
}
.topics {
	text-align: center;
	border-bottom: none;
	color: var(--Topics);
}
.card-body *{
	border: none;
	text-align: center;
}
.card-body p {
	font-size: 1.2em;
}
/* elements */
body {
	margin: 0;
	padding: 0;
	direction: rtl;
	font-size: var(--FontSize);
	font-family: var(--FontFamily);
	background-color: #1e2127;
}
a {
	color: var(--TextColor);
	text-decoration: none;
}
a :hover {
	color: var(--LinkHover);
}
h1, h2, h3, h4, h5, h6 {
	padding: 5px;
	border-bottom: 1px solid #fff;
	margin-bottom: 20px;
}
