:root {
	--TextColor: #abb2bf;
	--HeaderColor: #d19a66;
	--White: #ffffff;
	--Black: #000000;
	--FontFamily: Vazir, serif;
	--FontSize: 16px;
	--LinkHover: #579BD3;
	--SelectionText: #d19a66;
}
/* elements */
::-moz-selection { /* Code for Firefox */
	background: var(--SelectionText);
	color: #ffff;
}
::selection {
	background: var(--SelectionText);
	color: #ffff;
}
body {
	margin: 0;
	padding: 0;
	direction: rtl;
	font-size: var(--FontSize);
	font-family: var(--FontFamily);
	background-color: #1e2127;
}
a {
	color: var(--TextColor);
	text-decoration: none;
}
a :hover {
	color: var(--LinkHover);
}
/* ides */
#article {
	margin: 20px;
}
#article .card {
	background-color: #1e2127;
	box-shadow: 0 7px 14px rgba(0,0,0,.25),0 5px 5px rgba(0,0,0,.22);
	color: var(--TextColor);
	margin-right: auto;
	margin-left: auto;
}
#article .card img {
	padding: 20px;
}
/* clases */
.navbar {
	font-size: 1.4rem;
}
